<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Path to the Beginning</title>
    <style th:inline="text">
        .mapContainer {
            display: block;
            top: 10px;
            left: 10px;
            width: [[${options.width}]]px;
            height: [[${options.height}]]px;
            border: 2px solid brown;
            position: relative;
        }

        .mapContainer div {
            display: block;
            position: absolute;
            border: 1px dashed cadetblue;
        }
    </style>
</head>
<body>
<h1><img th:src="@{/images/Waypoints.jpg}" width="100" height="50"/>Let's tangle</h1>
<span th:inline="text" >[[${options.width}]] X [[${options.height}]]</span>
<span th:text="${options.width * options.height}">Size</span>
<div class="mapContainer">
    <div th:each="wp : ${map.waypoints}"
         th:style="'top:'+${wp.top*options.height}+'px; left:'+${wp.left*options.width}+'px;  width:'+${(wp.right-wp.left)*options.width}+'px; height:'+${(wp.bottom-wp.top)*options.height}+'px;' ">
        <span th:text="${wp.content}">Content</span>
    </div>
</div>
</body>
</html>